
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.wrap {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101820;
    color: white;
}
.wrap-week h4 {
    color: #4a4947;
}
.wrap-week h4.active {
    color: white;
    font-size: 24px;
}
.wrap-watch h2 {
    font-size: 54px;
    color: #d64161;

}
.wrap-timer {

}
